export(cumres)
import(utils)
S3method(confint,cumres)
S3method(cumres,coxph)
S3method(cumres,default)
S3method(cumres,glm)
S3method(cumres,lm)
S3method(cumres,lvmfit)
S3method(plot,cumres)
S3method(print,cumres)
S3method(summary,cumres)
S3method(vcov,cumres)
useDynLib(gof)
