useDynLib(gof)
import(utils)
export(
       cumres
       )

S3method(cumres, lm)
S3method(cumres, glm)
S3method(cumres, coxph)
S3method(cumres, lvmfit)
S3method(print, cumres)
S3method(plot, cumres)
S3method(confint, cumres)
S3method(summary, cumres)
